# Sweet n Sour Sentiment on the Street
Georgia Tech Data Science Bootcamp - Cohort 6
Final Project
Team Members:
* Joseph Ayala
* Andrew Behrman
* Michael Fox
* Michael Hankinson

### Transcript Sentence Parser

#### This notebook is designed to iterate through the call transcripts found in a MongoDb and parse the paragraphs into sentences.

In [1]:
import pymongo

# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [2]:
# Define database
db = client.sweet_n_sour

In [3]:
# get list of transcripts
calls = db.many_call_transcripts.find()

In [6]:
from nltk.tokenize import sent_tokenize
import pandas as pd
import itertools
int_id = itertools.count(0)

# initialize dataframe to collect output
df_sentences = pd.DataFrame()

# iterate through each transcript record
for call in calls:
    print(f'\n**** {call["ticker"]} ****')
    
    # iterate through each paragraph in the transcript
    for p in call['paragraphs']:
          
        # parse paragraph into sentences
        arr_sentences = sent_tokenize(p['content'])
          
        # iterate through each sentence
        sentence_collection = [{
              'id': next(int_id),
              'sentiment': '',
              'sentence': s,
              'ticker': call['ticker'],
              'call_title': call['call_title'],
              'speaker': p['speaker'],
              'call_section': p['call_section']
        } for s in arr_sentences]
          
        # append paragrah's sentences to dataframe
        df_sentences = df_sentences.append(pd.DataFrame(sentence_collection))

df_sentences.head()

Empty DataFrame
Columns: []
Index: []

In [7]:
df_sentences.tail()

Empty DataFrame
Columns: []
Index: []

#### Write dataframe out to csv

In [ ]:
# First output entire collection
outfile = '../data/sentences_all.txt'
df_sentences.to_csv(outfile, sep='|',index=False)

In [ ]:
# get random sample of 3000 sentences with repeatable results

df_sample_sentences = df_sentences.sample(n=3000,random_state=1)

# check sample size
print(f'Selected {len(df_sample_sentences)} sample sentences.')

# output sample sentences to file
sample_outfile = '../data/sentences_sample.txt'
df_sample_sentences.to_csv(sample_outfile, sep='|', index=False)